*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: #eee;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

/* NAV LEFT */
.box{
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    color: grey;

    justify-content: center;
    align-items: center;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.search-box{
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    color: grey;
    margin: 0px 5px;
}

.input-search{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: 5px;
}

.search-box i{
    position: relative;
    top: 2px;
}
/* FINE NAV LEFT */