*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: #eee;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

/* NAV LEFT */
.box{
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    color: grey;

    justify-content: center;
    align-items: center;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

.search-box{
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    color: grey;
    font-weight: 300;
    margin: 0px 5px;
}

.input-search{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: 5px;
}

.search-box i{
    position: relative;
    top: 2px;
}
/* FINE NAV LEFT */

/* NAV MAIN */
.nav-main i{
    font-size: 25px;
    color: grey;
}

p{
    font-weight: 300;
    color: grey;
}

.nav-main{
    justify-content: space-between;
    width: 40%;
}
/* FINE NAV MAIN */

/* NAV RIGHT */
.account{
    background-color: #53ae98;
    padding: 10px;
    font-size: 25px;
    margin-right: 20px;
    border-radius: 10px;
    color: #fff;
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FINE NAV RIGHT */

/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
}

/* SETTINGS */
.settings{
    position: absolute;
    top: 20px;
    right: 20px;
}

.fas.fa-cog{
    color: grey;
}
/* FINE SETTINGS */

/* CONTENT LEFT */
.content-left{
    width: 40%;
    flex-wrap: wrap;
}

.item{
    width: 50%;
}

.content-left, .content-right{
    height: 300px;
}

.item-btn{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(0, 140, 255);
    color: #fff;
    font-size: 50px;
}

.item-btn.btn-orange{
    background-color: rgb(255, 145, 0);
}

.item{
    align-items: center;
    justify-content: center;
}

.content-left p {
    margin-top: 15px;
}
/* FINE CONTENT LEFT */

/* CONTENT RIGHT */
.datetime{
    background-color: rgb(44, 58, 83);
    color: #fff;
    height: 30%;
    border: solid 1px grey;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.time{
    font-size: 35px;
    font-weight: bold;
}

.date{
    font-size: 20px;
}

.events{
    height: 70%;
    border: solid 1px grey;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
}

.content-right{
    width: 30%;
    margin-left: 100px;
}
/* FINE CONTENT RIGHT */